/*asdadsasdasd*/
* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0; }

/*Color gris del header*/
/*responsive del home*/
@media (min-width: 320px) and (max-width: 480px) {
  .grid-container header .header #logo a .tituloH {
    font-size: 20px;
    margin-left: 10px; }
  .grid-container header .header #nav-menu nav {
    display: none; }
  .grid-container .index .main {
    margin-left: 0px; }
    .grid-container .index .main .imagen-principal {
      width: 100%;
      height: 20em;
      margin-left: 0%; }
      .grid-container .index .main .imagen-principal .principal-h1 {
        margin-top: 0em;
        margin-right: 0em;
        font-size: 2em; }
    .grid-container .index .main .mejor-opcion h2 {
      text-align: center;
      font-size: 30px; }
    .grid-container .index .main .mejor-opcion .galeria {
      display: none; }
    .grid-container .index .main .mejor-opcion #carouselExampleDark {
      margin-top: 1em; }
  .grid-container .index .redes {
    font-size: 2em;
    text-align: center; }
  .grid-container .index #pie {
    width: 100%;
    height: 20em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .grid-container .index #pie iframe {
      width: 15em;
      height: 15em;
      margin-left: 0em; }
    .grid-container .index #pie .contact-redes {
      display: flex;
      flex-direction: row;
      padding-top: 1rem; }
  .grid-container .index .derecho {
    margin-top: 1rem; } }

/*responsive del home*/
@media (min-width: 481px) and (max-width: 600px) {
  .grid-container header .header #nav-menu {
    display: none; }
    .grid-container header .header #nav-menu nav {
      display: none; }
  .grid-container .index {
    padding-top: 4rem; }
    .grid-container .index .main {
      margin-left: 0%; }
      .grid-container .index .main .imagen-principal {
        width: 100%;
        height: 20em;
        margin-left: 0%; }
        .grid-container .index .main .imagen-principal .principal-h1 {
          margin-top: 0em;
          margin-right: 0em;
          font-size: 2em; }
      .grid-container .index .main .mejor-opcion h2 {
        text-align: center; }
      .grid-container .index .main .mejor-opcion .galeria {
        display: none; }
      .grid-container .index .main .mejor-opcion #carouselExampleDark {
        margin-top: 1em; }
    .grid-container .index .redes {
      text-align: center;
      font-size: 30px; }
    .grid-container .index #pie {
      width: 100%;
      height: auto;
      margin-top: 0%;
      margin-left: 0%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .grid-container .index #pie iframe {
        width: 15em;
        height: 15em;
        margin-left: none; }
      .grid-container .index #pie .contact-redes {
        display: flex;
        flex-direction: row;
        padding-top: 1rem; }
    .grid-container .index .derecho {
      margin-top: 1rem; } }

/*responsive del home*/
@media (min-width: 601px) and (max-width: 1200px) {
  .grid-container header .header #nav-menu {
    display: none; }
    .grid-container header .header #nav-menu nav {
      display: none; }
  .grid-container .index {
    padding-top: 4rem; }
    .grid-container .index .main {
      margin-left: 0%; }
      .grid-container .index .main .imagen-principal {
        width: 100%;
        height: 29em;
        margin-left: 0%;
        display: flex;
        justify-content: center; }
        .grid-container .index .main .imagen-principal .principal-h1 {
          margin-right: 1em;
          font-size: 2.5em; }
      .grid-container .index .main .mejor-opcion h2 {
        text-align: center; }
      .grid-container .index .main .mejor-opcion .galeria {
        display: none; }
      .grid-container .index .main .mejor-opcion #carouselExampleDark {
        margin-top: 1em;
        width: 100%; }
    .grid-container .index .redes {
      text-align: center;
      font-size: 30px; }
    .grid-container .index #pie {
      width: 100%;
      height: auto;
      margin-top: 0%;
      margin-left: 0%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .grid-container .index #pie iframe {
        width: 15em;
        height: 15em;
        margin-left: none; }
      .grid-container .index #pie .contact-redes {
        display: flex;
        flex-direction: row;
        padding-top: 1rem; }
    .grid-container .index .derecho {
      margin-top: 1rem; } }

/*responsive del home*/
@media (min-width: 1201px) {
  body .grid-container header .header .menu-desplegable {
    display: none; }
  body .grid-container .index .main {
    margin-left: 0px; } }

body .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'encabezado' 'principal' 'titulo-redes' 'redes-area';
  background-color: #f0f0f0; }
  body .grid-container header {
    grid-area: encabezado; }
    body .grid-container header .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: #b6b6b6; }
      body .grid-container header .header #logo a h5 {
        margin-top: 20px;
        margin-left: 40px;
        font-size: 30px;
        color: black; }
      body .grid-container header .header #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 20px;
        align-items: center;
        padding: 2%; }
        body .grid-container header .header #nav-menu nav a {
          margin: 1.7em;
          color: black; }
          body .grid-container header .header #nav-menu nav a:hover {
            background-color: #cccccc;
            padding: 3px;
            transition: 0.3s;
            border-radius: 3px; }
  body .grid-container .index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2em; }
    body .grid-container .index main {
      grid-area: principal;
      margin-left: 5%; }
      body .grid-container .index main .imagen-principal {
        width: 90%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-image: url("../images/ganado.jpeg");
        background-position: center;
        background-size: cover;
        margin-left: 5%;
        border-radius: 15px; }
        body .grid-container .index main .imagen-principal h1 {
          margin-top: 5em;
          margin-right: 2em;
          font-family: 'Luxurious Roman', cursive;
          font-size: 3.5em;
          color: #C34C17; }
      body .grid-container .index main .mejor-opcion {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 2em; }
        body .grid-container .index main .mejor-opcion h2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 3em; }
        body .grid-container .index main .mejor-opcion .galeria {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 2em;
          justify-content: center;
          width: 100%; }
          body .grid-container .index main .mejor-opcion .galeria .truck1 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-position: center; }
            body .grid-container .index main .mejor-opcion .galeria .truck1 img {
              width: 35vw;
              height: 17.75em;
              border-radius: 8px; }
          body .grid-container .index main .mejor-opcion .galeria .truck2 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-image: url("../images/truck2.jpg");
            background-position: cover; }
          body .grid-container .index main .mejor-opcion .galeria .truck3 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-image: url("../images/truck3.jpg");
            background-position: center; }
          body .grid-container .index main .mejor-opcion .galeria .truck4 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-image: url("../images/truck4.jpg");
            background-position: cover; }
          body .grid-container .index main .mejor-opcion .galeria .ganado5 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-image: url("../images/ganado5.jpeg");
            background-position: center; }
          body .grid-container .index main .mejor-opcion .galeria .ganado6 {
            width: 35vw;
            height: 17.75em;
            margin: 10px;
            border-radius: 8px;
            background-image: url("../images/ganado6.jpeg");
            background-position: center; }
    body .grid-container .index h3 {
      grid-area: titulo-redes;
      display: flex;
      justify-content: center;
      width: 100%;
      font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
      margin-top: 2em;
      font-size: 3em; }
    body .grid-container .index footer {
      grid-area: footer;
      margin-top: 3em;
      width: 100%;
      height: 15em;
      display: flex;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 10%;
      margin-left: 5%; }
      body .grid-container .index footer iframe {
        height: 15em;
        width: 15em;
        margin-left: 3em; }
      body .grid-container .index footer .contact-redes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        body .grid-container .index footer .contact-redes a img {
          width: 3em;
          height: 3em;
          filter: brightness(1.8);
          mix-blend-mode: multiply; }
    body .grid-container .index .derecho {
      margin-top: 1em;
      width: 100%;
      font-size: 1em;
      text-align: center; }

body .grid-container .index .nosotros-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px; }
  body .grid-container .index .nosotros-container #nosotros-main {
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-image: url("../images/ganado-nosotros.jpeg");
    background-repeat: no-repeat;
    border-radius: 15px; }
    body .grid-container .index .nosotros-container #nosotros-main .nosotros-h1 h1 {
      font-family: 'Luxurious Roman', cursive;
      font-size: 3em;
      color: #C34C17; }
  body .grid-container .index .nosotros-container #nosotros-text {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    font-size: 1.4em; }
    body .grid-container .index .nosotros-container #nosotros-text #nosotros-text p {
      text-align: center;
      margin-left: 4em;
      margin-right: 4em; }

/*   ELEGIRNOS INDEX   */
body .grid-container .index main .titulo-kilometros {
  width: 100%;
  display: flex;
  justify-content: center; }
  body .grid-container .index main .titulo-kilometros h1 {
    width: 60%;
    text-align: center; }

body .grid-container .index main .elegirnos-tittle {
  width: 100%;
  padding-top: 1em;
  display: flex;
  justify-content: center; }

body .grid-container .index main .elegirnos-principal {
  width: 100%;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  border-radius: 15px; }
  body .grid-container .index main .elegirnos-principal img {
    width: 80%;
    border-radius: 15px; }

body .grid-container .index main .elegirnos-p p {
  text-align: center; }

/* KILOMETROS INDEX*/
body .grid-container .index .p-kilometros {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  body .grid-container .index .p-kilometros p {
    width: 40%;
    display: flex;
    align-items: center; }
  body .grid-container .index .p-kilometros img {
    width: 40%;
    height: 30em; }

/*   CONTACTANOS INDEX*/
body .grid-container .index .contacto-redes {
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center; }
  body .grid-container .index .contacto-redes .contacto-image {
    width: 35em;
    margin-right: 6em; }
  body .grid-container .index .contacto-redes .cont-redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%; }
    body .grid-container .index .contacto-redes .cont-redes p {
      font-size: 2em; }
    body .grid-container .index .contacto-redes .cont-redes .contact-redes {
      display: flex;
      justify-content: space-around;
      width: 50%; }
      body .grid-container .index .contacto-redes .cont-redes .contact-redes a {
        width: 3em;
        height: 3em; }
        body .grid-container .index .contacto-redes .cont-redes .contact-redes a img {
          width: 3em;
          height: 3em;
          filter: brightness(1.8);
          mix-blend-mode: multiply; }
    body .grid-container .index .contacto-redes .cont-redes .number-phone {
      display: flex;
      align-items: center; }
      body .grid-container .index .contacto-redes .cont-redes .number-phone img {
        width: 4em;
        height: 4em; }
      body .grid-container .index .contacto-redes .cont-redes .number-phone p {
        margin-left: 1em; }

body .grid-container .index .contactanos {
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center; }
  body .grid-container .index .contactanos .contactanos-form {
    width: 35em; }
  body .grid-container .index .contactanos .contact-imagen img {
    width: 35em;
    height: auto; }

body .grid-container .index .contact-p {
  width: 100%; }
  body .grid-container .index .contact-p p {
    text-align: center;
    font-size: 2em; }

body .grid-container .index .map-phone {
  width: 100%;
  display: flex;
  justify-content: center; }
  body .grid-container .index .map-phone .number-phone {
    display: flex;
    align-items: center;
    margin-left: 2em; }
    body .grid-container .index .map-phone .number-phone p {
      font-size: 2em; }

body .grid-container .index .footer-contacto {
  height: 2em; }
