/*Aplicando mapa*/
$iconsRedes: (
    height-icons: 15em,
    width-icons: 15em,
    margin-left-icons: 3em,
);

// height: 15em;
//                     width: 15em;
//                     margin-left: 3em;